
  .footer {
    background-color: rgb(10, 4, 22);
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important ;
  }
  .footer-copywright {
    text-align: center !important;
  }
  
  .footer-body {
    text-align: center !important;
  }
  
  @media (max-width: 767px) {
    .footer-copywright {
      text-align: center !important;
    }
  
    .footer-body {
      text-align: center !important;
    }
  }
  
  .footer h3 {
    font-size: 1em;
    color: white !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
  .footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
  }
  
  .blockquote-footer {
    color: #a588c0 !important;
  }
   .typing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.typing-text {
      font-size: 20px;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      /* border-right: 3px solid #3498db; */
      animation: typing 3s steps(10) infinite, blink 0.5s step-end infinite alternate;
    }
    
    @keyframes typing {
      0% { width: 0; }
      50% { width: 100%; }
      100% { width: 0; }
    }
    
    @keyframes blink {
      50% { border-color: transparent; }
    }